.global-block{
  display: flex;
  flex-wrap: wrap;
}

.vert {
  width: 80%;
  height: 60px;
  background-color: #2ecc71;
}

.bleu {
  width: 20%;
  height: 60px;
  background-color: #2980B9;
}

.rouge {
  width: 30%;
  height: 100px;
  background-color: #E74C3C;
}

.rouge2 {
  width: 30%;
  height: 100px;
  background-color: #E74C3C;
}

.orange {
  width: 35%;
  height: 100px;
  background-color: #E67E22;
}

.turquoise {
  width: 35%;
  height: 100px;
  background-color: #95A5A6;
}

.jaune {
  width: 23.33333333333333333333333%;
  height: 100px;
  background-color: #F39C12;
}

.gris {
  width: 23.33333333333333333333333%;
  height: 100px;
  background-color: #169E83;
}

.marron {
  width: 23.33333333333333333333333%;
  height: 100px;
  background-color: #D35400;
}

.noir {
  width: 100%;
  height: 240px;
  background-color: #2C3E50;
}
